.container {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.contact_button,
.contact_button_hidden {
	z-index: 502;
	position: absolute;
	top: 0px;
	left: calc(80% + 1.5rem);
	height: 3rem;
	width: 3rem;
	border-radius: 0 0 2px 2px;
	border: none;
	background-color: #202020;
	color: azure;
	font-weight: 100;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.contact_button_hidden p,
.contact_button p {
	position: absolute;
	transition: all 0.2s ease-in-out;
	font-size: 0.8rem;
	color: rgb(255, 0, 255);
	opacity: 0;
}

.contact_button_hidden p {
	top: 0.4rem;
	transform: translateX(-2rem);
}

.contact_button p {
	bottom: 0.4rem;
	transform: translateX(-2rem);
}

.contact_button {
	transform: translateY(calc(15vh - 3rem));
	background-color: transparent;
	backdrop-filter: none;
}

.contact_button_hidden {
	transform: translateY(0);
}

.contact_button span,
.contact_button_hidden span {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.contact_button_hidden:hover span {
	transform: translateY(0.5rem);
	font-weight: 300;
}

.contact_button:hover p,
.contact_button_hidden:hover p {
	transform: translateX(0);
	font-weight: 300;
	opacity: 1;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

.contact_button:hover p {
	animation-name: contactArrowDown;
}

.contact_button_hidden:hover p {
	animation-name: contactArrowUp;
}

.contact_button:hover span {
	transform: translateY(-1rem);
	font-weight: 300;
}

.footer,
.footer_hidden {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #202020;
	height: calc(15vh + 1px);
	display: flex;
	transform-origin: bottom;
	transition: all 0.2s ease-in-out;
	z-index: 500;
}

.footer::before,
.footer_hidden::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgb(255, 0, 255) 100%
	);
}

.footer {
	transform: translateY(0);
}

.footer_hidden {
	transform: translateY(-15vh);
}

.icon {
	border-radius: 5px;
	height: 30px;
	margin: 0 0.5rem;
}

#github {
	filter: invert(1);
}

.contact {
	position: absolute;
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 2rem;
}

.contact li a {
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: transform 0.15s ease-in-out;
}

.contact li a::before,
.links a::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: -10px;
	left: 0;
	border-radius: 2px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255, 0.5) 0%,
		rgba(255, 0, 255, 0.5) 100%
	);
	transform: scaleX(0) scaleY(0);
	transition: transform 0.15s ease-in-out;
}

.contact li a:hover {
	transform: translateY(6px);
}

.contact li a:hover::before,
.links a:hover::before {
	transform: scaleX(1) scaleY(1);
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.links a {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px 2rem;
	margin: 0 0.5rem;
	text-transform: uppercase;
	font-size: larger;
	color: azure;
	font-weight: 200;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}

.links a::before {
	bottom: 0;
}

.links #bio #house,
.links #projects #house,
.links #curriculum #cv {
	position: absolute;
	right: 0rem;
	color: cyan;
	opacity: 0;
	background-color: #202020;
	transition: all 0.15s ease-in-out 0.1s;
}

.links #bio #arrow,
.links #projects #arrow {
	position: absolute;
	right: 1.2rem;
	color: magenta;
	font-size: 1rem;
	opacity: 0;
}

.links #projects #arrow {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-weight: 400;
	text-transform: none;
}

.links #projects:hover #projects_title {
	opacity: 0;
}

.links #bio:hover #house,
.links #projects:hover #house {
	opacity: 1;
}

.links #bio:hover #arrow {
	animation-name: arrowInHouse;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

.links #projects:hover #arrow {
	opacity: 1;
	animation-name: codeInLaptop;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

.links #curriculum:hover #cv {
	animation-name: glow;
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

.links a:hover {
	transform: translateY(6px);
}

.container .contact_button_hidden {
	transform: translateY(-100%);
}

.container.ready .contact_button_hidden {
	transform: translateY(0);
}

#bio_container {
	width: 100vw;
	height: 100vh;
}

#bio_container #greet,
#bio_container #greetAux,
#bio_container #greetAux2 {
	width: 100%;
	height: 100%;
	position: absolute;
}

#bio_container #greet h1,
#bio_container #greet h3 {
	opacity: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

#bio_container #greet h1 {
	top: calc(50% - 4rem);
}
#bio_container #greet h3 {
	top: 50%;
}

#bio_container #greet::after {
	content: '';
	position: absolute;
	top: 45vh;
	right: calc(50vw - 150px);
	width: 300px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	transform-origin: 100% 0;
	transform: rotate(-36deg);
}

#bio_container #greet::before {
	content: '';
	position: absolute;
	top: 45vh;
	right: calc(50vw - 150px);
	width: 300px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	transform-origin: 0 0;

	transform: rotate(36deg);
}

#bio_container #greetAux::after {
	content: '';
	position: absolute;
	top: 45vh;
	right: calc(50vw - 150px);
	width: 300px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	transform-origin: 50% 50px;
	transform: rotate(-72deg);
}

#bio_container #greetAux::before {
	content: '';
	position: absolute;
	top: 45vh;
	right: calc(50vw - 150px);
	width: 300px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	transform-origin: 50% 50px;
	transform: rotate(72deg);
}

#bio_container #greetAux2::before {
	content: '';
	position: absolute;
	top: 45vh;
	right: calc(50vw - 150px);
	width: 300px;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	transform-origin: 50% 50px;
	transform: rotate(-72deg);
}

#bio_container header {
	position: relative;
	height: 15vh;
	width: 100%;
	overflow: hidden;
}

#bio_container header #menu_direction {
	position: absolute;
	top: 4rem;
	right: calc(15% + 1rem - 3px);
}

#bio_container header #menu_direction #txt {
	animation-name: colors;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

#bio_container header #menu_direction #pointer {
	margin-left: 0.5rem;
	animation-name: contactArrowUp;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
}

#bio_container main {
	position: relative;
	height: 300px;
	width: 100%;
}

#bio_container main #portrait {
	position: absolute;
	top: 0;
	right: 5%;
}

#bio_container main::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: calc(300px + 6rem);
	width: 1px;
	height: 50vh;
	background: linear-gradient(
		to top,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	animation-name: moveY;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#bio_container main::before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 50%;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgba(255, 0, 255) 100%
	);
	animation-name: moveX;
	animation-duration: 8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#greet h1 {
	font-size: 4rem;
}

#bio_text {
	width: calc(100% - 300px - 4rem);
	padding: 0 4rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	opacity: 1;
}

#bio_text p {
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: 300;
}

#bio_container footer {
	height: calc(85vh - 300px);
	width: 100%;
	overflow: hidden;
}

#stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#stack label {
	width: 100%;
	font-size: 4rem;
	font-weight: 400;
	color: #202020;
	padding: 2rem 4rem;
}

#stack ul {
	width: 100%;
	padding: 0 4rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

#stack ul li {
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 5px;
	letter-spacing: -1px;
	word-spacing: -4px;
	border: solid 1px #202020;
	border-radius: 3px;
}

#bio_container:not(.ready) {
	visibility: hidden;
}

#bio_container.ready #greet h1 {
	animation-name: greetGlow;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#bio_container.ready #greet h3 {
	animation-name: greetGlow;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
}

#bio_container #header {
	transform: translateY(-17vh);
}

#bio_container.ready #header {
	transform: translateY(0);
	transition: transform 0.5s ease-out 2.5s;
}

#bio_container #bio_text {
	transform: translateX(-100%);
}

#bio_container.ready #bio_text {
	transform: translateX(0);
	transition: transform 0.7s ease-out 3s;
}

#bio_container #portrait {
	transform: translateX(calc(300px + 5rem));
}

#bio_container.ready #portrait {
	transform: translateX(0);
	transition: transform 0.7s ease-out 3s;
}

#bio_container #stack label {
	transform: translateY(calc(300px + 15vh));
}

#bio_container.ready #stack label {
	transform: translateY(0);
	transition: transform 0.3s ease-out 3.7s;
}

#bio_container #stack ul {
	opacity: 0;
}

#bio_container.ready #stack ul {
	opacity: 1;
	transition: opacity 0.3s ease-out 4s;
}

#bio_container #greet::after {
	opacity: 1;
	transform: rotate(-36deg) translateX(60vw);
	transition: transform 0.3s ease-out 0.15s, opacity 0.2s ease-out 1.3s;
}

#bio_container.ready #greet::after {
	opacity: 0;
	transform: rotate(-36deg) translateX(0);
}

#bio_container #greet::before {
	opacity: 1;
	transform: rotate(36deg) translateX(60vw);
	transition: transform 0.3s ease-out 0.6s, opacity 0.2s ease-out 1.3s;
}

#bio_container.ready #greet::before {
	opacity: 0;
	transform: rotate(36deg) translateX(0);
}

#bio_container #greetAux::after {
	opacity: 1;
	transform: rotate(-72deg) translateX(60vw);
	transition: transform 0.3s ease-out 0.3s, opacity 0.2s ease-out 1.3s;
}

#bio_container.ready #greetAux::after {
	opacity: 0;
	transform: rotate(-72deg) translateX(0);
}

#bio_container #greetAux::before {
	opacity: 1;
	transform: rotate(72deg) translateX(60vw);
	transition: transform 0.3s ease-out 0.45s, opacity 0.2s ease-out 1.3s;
}

#bio_container.ready #greetAux::before {
	opacity: 0;
	transform: rotate(72deg) translateX(0);
}

#bio_container #greetAux2::before {
	opacity: 1;
	transform: translateX(60vw);
	transition: transform 0.3s ease-out, opacity 0.2s ease-out 1.3s;
}

#bio_container.ready #greetAux2::before {
	opacity: 0;
	transform: translateX(0);
	
}

@keyframes contactArrowUp {
	0% {
		transform: translateY(3px);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(3px);
	}
}

@keyframes contactArrowDown {
	0% {
		transform: translateY(-3px);
	}
	50% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(-3px);
	}
}

@keyframes arrowInHouse {
	from {
		opacity: 0;
		transform: translateX(0);
	}
	10% {
		opacity: 1;
	}

	50% {
		opacity: 1;
		transform: translateX(0.75rem);
	}

	to {
		opacity: 0;
		transform: translateX(1.5rem);
	}
}

@keyframes codeInLaptop {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(10rem);
	}
}

@keyframes glow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes greetGlow {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes colors {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
		color: magenta;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
		color: cyan;
	}
	100% {
		opacity: 0;
	}
}

@keyframes moveX {
	0% {
		opacity: 1;
		transform: translateX(-50vw);
	}

	100% {
		opacity: 0.2;
		transform: translateX(100vw);
	}
}

@keyframes moveY {
	0% {
		opacity: 1;
		transform: translateY(50vw);
	}

	100% {
		opacity: 0.2;
		transform: translateY(-50vw);
	}
}
