.container {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.contact_button,
.contact_button_hidden {
	z-index: 502;
	position: absolute;
	top: 0px;
	left: calc(80% + 1.5rem);
	height: 3rem;
	width: 3rem;
	border-radius: 0 0 2px 2px;
	border: none;
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(4px);
	color: azure;
	font-weight: 100;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.contact_button_hidden p,
.contact_button p {
	position: absolute;
	transition: all 0.2s ease-in-out;
	font-size: 0.8rem;
	color: rgb(255, 0, 255);
	opacity: 0;
}

.contact_button_hidden p {
	top: 0.4rem;
	transform: translateX(-2rem);
}

.contact_button p {
	bottom: 0.4rem;
	transform: translateX(-2rem);
}

.contact_button {
	transform: translateY(calc(15vh - 3rem));
	background-color: transparent;
	backdrop-filter: none;
}

.contact_button_hidden {
	transform: translateY(0);
}

.contact_button span,
.contact_button_hidden span {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.contact_button_hidden:hover span {
	transform: translateY(0.5rem);
	font-weight: 300;
}

.contact_button:hover p,
.contact_button_hidden:hover p {
	transform: translateX(0);
	font-weight: 300;
	opacity: 1;
}

.contact_button:hover span {
	transform: translateY(-1rem);
	font-weight: 300;
}

.footer,
.footer_hidden {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(4px);
	height: calc(15vh + 1px);
	display: flex;
	transform-origin: bottom;
	transition: all 0.2s ease-in-out;
	z-index: 500;
}

.footer::before,
.footer_hidden::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255) 0%,
		rgb(255, 0, 255) 100%
	);
}

.footer {
	transform: translateY(0);
}

.footer_hidden {
	transform: translateY(-15vh);
}

.icon {
	border-radius: 5px;
	height: 30px;
	margin: 0 0.5rem;
}

#github {
	filter: invert(1);
}

.contact {
	position: absolute;
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 2rem;
}

.contact li a {
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: transform 0.15s ease-in-out;
}

.contact li a::before,
.links a::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: -10px;
	left: 0;
	border-radius: 2px;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255, 0.5) 0%,
		rgba(255, 0, 255, 0.5) 100%
	);
	transform: scaleX(0) scaleY(0);
	transition: transform 0.15s ease-in-out;
}

.contact li a:hover {
	transform: translateY(6px);
}

.contact li a:hover::before,
.links a:hover::before {
	transform: scaleX(1) scaleY(1);
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.links a {
	margin: 0 1rem;
	text-transform: uppercase;
	font-size: larger;
	color: azure;
	font-weight: 200;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out;
	cursor: pointer;
}

.links a:hover {
	transform: translateY(6px);
}

.container .contact_button_hidden {
	transform: translateY(-100%);
}

.container.ready .contact_button_hidden {
	transform: translateY(0);
}
