#hero_slider {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	background: linear-gradient(
		to right,
		rgba(0, 255, 255, 0.95) 0%,
		rgba(255, 0, 255, 0.95) 100%
	);
	color: azure;
	overflow: hidden;
}

#hero_slider:not(.ready) {
	visibility: hidden;
}

#logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1.5rem;
	z-index: 300;
	overflow: hidden;
}

#logo::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 30%;
	width: 2px;
	height: 40%;
	background: rgba(0, 0, 0, 0.75);
}

#logo .logo_text {
	text-transform: uppercase;
	position: relative;
	font-size: 3rem;
	font-weight: 300;
	color: #262626;
	left: 0;
}

#slideshow {
	position: relative;
	flex: 1 1 80%;
	display: flex;
	align-items: flex-end;
	padding: 2rem;
}

#slides_main,
#slides_main::after {
	position: absolute;
	top: 15%;
	left: 0;
	height: 85%;
	width: 100%;
}

#slides_main .abs_mask,
#slides_main .slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#slides_main .abs_mask {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: rgba(0, 0, 0, 0.5);
}

#slides_main .slide_image {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 94%;
	height: 90%;
	z-index: 100;
}

.slide_title {
	position: absolute;
	width: auto;
	padding: 4px 2rem;
	border-radius: 0 2px 2px 0;
	left: 0;
	bottom: 10%;
	z-index: 300;
	font-size: 4rem;
	font-weight: 100;
	color: azure;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.slide_title p {
	position: absolute;
	left: 1.25rem;
	transition: all 0.2s ease-in-out;
	font-size: 1.5rem;
	color: rgb(0, 255, 255, 0.9);
	transform: translateY(4rem);
	opacity: 0;
}

.slide_title a {
	transition: all 0.2s ease-in-out;
}

.slide_title:hover a {
	transform: translateX(2rem);
}

.slide_title:hover p {
	transform: translateY(0);
	opacity: 1;
}

.slide_title:hover {
	backdrop-filter: blur(1px);
}

#info {
	position: relative;
	flex: 1 1 20%;
	padding: 1rem;
}

#info::before {
	position: absolute;
	content: '';
	width: 1px;
	height: 13%;
	background-color: rgba(0, 0, 0, 0.4);
	top: 1%;
	left: -1px;
}

#info .slider_title_wrapper {
	position: absolute;
	top: 15vh;
	left: calc(100% - 2rem);
	transform-origin: 0% 0%;
	transform: rotate(90deg);
}

#info .line {
	position: absolute;
	top: 0;
	left: 8px;
	height: 4px;
	width: 100%;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255) 0%,
		transparent 100%
	);
}

#info .slider_title {
	position: relative;
	top: 1rem;
	left: 0;
	width: 100%;
	z-index: 200;
	font-size: 6rem;
	font-weight: 200;
	overflow: hidden;
}

#info .about {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
	max-width: 100%;
	font-size: smaller;
	font-weight: 300;
}

#slider_nav {
	position: absolute;
	width: 9rem;
	top: 22%;
	left: calc(80% - 4.5rem);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
}

#slider_nav .current,
#slider_nav .total {
	background-color: transparent;
	width: 100%;
	height: 100%;
	font-weight: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding: 0.5rem 0;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
#slider_nav .sep::before,
#slider_nav .sep::after {
	background-color: azure;
	content: '';
	position: absolute;
	height: 100%;
	width: 50%;
}
#slider_nav .sep {
	position: relative;
	width: 50px;
	height: 1px;
	justify-self: center;
	align-self: center;
}

#slider_nav .sep::before {
	background-color: rgba(255, 0, 255);
	left: 0;
}

#slider_nav .sep::after {
	background-color: azure;
	right: 0;
}

#slider_nav .current {
	color: rgba(255, 0, 255);
}

#slider_nav .current:hover {
	transform: translateX(-5px);
	font-weight: 300;
}

#slider_nav .total {
	color: azure;
}

#slider_nav .total:hover {
	transform: translateX(5px);
	font-weight: 300;
}

#slider_nav > button {
	font-size: 1.5rem;
}

/*----------------------------------------- ANIMATIONS----------------------------------------  */

#hero_slider #info {
	transform: translate3d(100%, 0, 0);
	transition: transform 1s ease-in-out;
}

#hero_slider .slider_title > button {
	display: block;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s 1s;
}

#hero_slider.ready #info,
#hero-slider.ready .slider_title > button {
	transform: translate3d(0, 0, 0);
}

#hero_slider .line,
#info::before {
	transform-origin: 0% 0;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out 1s;
}

#hero_slider.ready .line,
#hero_slider.ready #info::before {
	transform: scaleX(1);
}

#hero_slider #slider_nav {
	opacity: 0;
	transition: opacity 0.5s 1s ease-in-out;
}

#hero_slider.ready #slider_nav {
	opacity: 1;
}

#hero_slider .slider_title > button {
	display: block;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s 1.5s;
}

#hero_slider #logo::after {
	transform: scaleY(0);
	transform-origin: 50% 0;
	transition: transform 0.5s ease-in-out 1.5s;
}

#hero_slider.ready #logo::after {
	transform: scaleY(1);
}

#hero_slider .logo_text {
	left: 110%;
	transition: all 0.8s ease-in-out 2s;
}

#hero_slider.ready .logo_text {
	left: 0;
}

#hero_slider #slideshow .slides {
	transform: translate3d(0, 100%, 0);
	transition: transform 0.7s ease-in-out 2.3s;
	overflow: hidden;
}

#hero_slider.ready #slideshow .slides {
	transform: translate3d(0, 0, 0);
}

#hero_slider #slideshow .slide_image {
	transform: translate3d(110%, 0, 0);
	transition: transform 0.6s ease-in-out 3s;
}

#hero_slider.ready #slideshow .slide_image {
	transform: translate3d(0, 0, 0);
}

#hero_slider #slideshow .slide_title {
	transform: translateX(-100%);
	transition: transform 0.6s ease-in-out 3s;
}

#hero_slider.ready #slideshow .slide_title {
	transform: translateX(0);
}
